# Folder Sampah/Sistem
.buildozer/
bin/
.cache/
.cargo/
.config/
.dbus/
.gnupg/
.kivy/
.ssh/
.termux/
storage/

# File Kredensial (SANGAT PENTING)
.env
.git-credentials
.gitconfig
.bash_history
.bashrc
.python_history

# Data Pribadi
*.db
*.txt
*.json
*.mp3
.env
anna_memory.db
anna_memory_backup.db
security.log
secret.key
